*{
    box-sizing: border-box;
}
html, body{
    scroll-snap-type: y mandatory;
}
header{
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    background-color: lightgray;
    opacity: 0.6;
    z-index: 10;
}
#header-first-page, #header-second-page, #header-fourth-page, #header-second-page-alt-1, #header-second-page-alt-2, #header-second-page-alt-3
,#header-third-page-alt-1, #header-third-page-alt-2, #header-third-page-alt-3, #header-third-page-alt-4, #header-third-page-alt-5{
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Goldman', sans-serif;
    font-size: 3rem;
    z-index: 9;
}
#header-third-page{
    position: absolute;
    top: 203vh;
    left: 0;
    right: 0;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Goldman', sans-serif;
    font-size: 3rem;
    z-index: 9;
}
header div{
    height: 100%;
}
#header-name{
    /*background-color: lightsalmon;*/
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    font-family: 'Goldman', sans-serif;
    font-size: 1.4rem;
}
#header-contact{
    /*background-color: lightgreen;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}
#header-contact ion-icon{
    font-size: 30px;
}
#header-email{
    /*background-color: lightpink;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}
#header-email a{
    color: black;
    text-decoration: none;
}
#header-email a:hover{
    color: dodgerblue;
    text-decoration: underline;
}
#header-menu{
    /*background-color: lightblue;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}
#header-menu ion-icon{
    font-size: 40px;
}
@media all and (max-width: 575px){
    #header-email {
        display: none;
    }
    #header-contact{
        font-size: 10px;
    }
}
@media all and (max-width: 767px) {
    #header-email {
        display: none;
    }
}

/*Nav bar*/

nav{
    position: fixed;
    height: 100vh;
    width: 300px;
    right: 0;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    padding-top: 20px;
    z-index: 11;
    padding-left: 20px;
}
.nav-visible{
    opacity: 1;
    visibility: visible;
    animation-name: nav-visible;
    animation-duration: 0.6s;
}
@keyframes nav-visible {
    from{
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}
.nav-invisible{
    opacity: 0;
    visibility: hidden;
    animation-name: nav-invisible;
    animation-duration: 0.6s;
}
@keyframes nav-invisible {
    from{
        opacity: 1;
        visibility: visible;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
nav span a{
    padding-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #999999;
}
nav span a:hover{
    color: black;
}
nav div ion-icon{
    font-size: 40px;
    color: black;
}
#close-icon-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

/*Links*/

#links{
    position: fixed;
    /*background-color: yellow;*/
    height: 180px;
    left: 0;
    width: 70px;
    bottom: 30px;
    z-index: 10;
}
#links div{
    height: 25%;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#links div ion-icon{
    font-size: 30px;
    color: #999999;
    transition-property: font-size;
    transition-duration: 500ms;
}
#links div ion-icon:hover{
    color: black;
    font-size: 35px;
}

/*Pages*/

#page-1, #page-2, #page-3{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    background-image: url("../img/bg-img-2.jpg");
    background-size: cover;
    background-position: center;
}
#page-9{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: end;
    background-image: url("../img/bg-img-2.jpg");
    background-size: cover;
    background-position: center;
}
#page-4, #page-5, #page-6, #page-7, #page-8{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    background-image: url("../img/bg-img-2.jpg");
    background-size: cover;
    background-position: center;
    display: none;
}
#page-2-alt-1, #page-2-alt-2, #page-2-alt-3{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    background-image: url("../img/bg-img-2.jpg");
    background-size: cover;
    background-position: center;
    display: none;
}

/*First Page*/

#page-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#description-container {
    position: relative;
    height: 50vh;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#profile-pic-container{
    position: relative;
    height: 700px;
    /*background-color: green;*/
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile-pic-container img{
    width: 530px;
    height: 530px;
    border-radius: 100%;
}
#first-name, #last-name{
    font-family: 'Goldman', sans-serif;
    font-size: 60px;
    color: #b9ac57;
}
#full-name{
    font-family: 'Goldman', sans-serif;
    font-size: 60px;
    color: #b9ac57;
    display: none;
}
#role{
    padding-top: 30px;
    font-family: 'Goldman', sans-serif;
    font-size: 27px;
    color: black;
}
#description{
    padding-top: 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.61);
}
#mobile-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.61);
    display: none;
}
#first-page-down-arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    opacity: 0.5;
    background-color: lightgrey;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: move-arrow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    z-index: 10;
}
@keyframes move-arrow {
    from,to{
        align-items: flex-start;
    }
    25%{
        align-items: center;
    }
    50%{
        align-items: flex-end;
    }
    75%{
        align-items: center;
    }
}
#first-page-down-arrow a ion-icon{
    font-size: 50px;
    color: grey;
}
#first-page-down-arrow a ion-icon:hover{
    color: black;
}
@media all and (max-width: 1399px) {
    #first-name,#last-name {
        font-size: 47.5px;
    }
    #role{
        padding-top: 5px;
        font-size: 21px;
    }
    #description{
        padding-top: 10px;
        font-size: 15.5px;
    }
    #profile-pic-container{
        width: 500px;
        height: 500px;
    }
    #profile-pic-container img{
        width: 500px;
        height: 500px;
        border-radius: 100%;
    }
}
@media all and (max-width: 1199px) {
    #first-name,#last-name {
        font-size: 49px;
    }
    #role{
        font-size: 21.5px;
        padding-top: 5px;
    }
    #description{
        padding-top: 5px;
        font-size: 15px;
    }
    #profile-pic-container{
        width: 450px;
        height: 450px;
    }
    #profile-pic-container img{
        width: 450px;
        height: 450px;
        border-radius: 100%;
    }
}
@media all and (max-width: 991px) {
    #first-name,#last-name {
        font-size: 37px;
    }
    #role{
        font-size: 16.5px;
    }
    #description{
        padding-top: 20px;
        font-size: 12.3px;
    }
    #profile-pic-container{
        width: 370px;
        height: 370px;
    }
    #profile-pic-container img{
        width: 370px;
        height: 370px;
        border-radius: 100%;
    }
}
@media all and (max-width: 767px) {
    #description-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }
    #first-name,#last-name {
        display: none;
    }
    #full-name{
        display: block;
        font-size: 38px;
    }
    #role{
        font-size: 23px;
        padding-top: 5px;
    }
    #description{
        display: none;
    }
    #mobile-text{
        display: block;
        font-size: 15px;
        padding-left: 15px;
        padding-top: 10px;
    }
    #profile-pic-container{
        width: 350px;
        height: 350px;
    }
    #profile-pic-container img{
        width: 350px;
        height: 350px;
        border-radius: 100%;
    }
    #cv a button{
        padding: 10px;
        font-size: 18px;
    }
}
@media all and (max-width: 575px) {
    #description-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }
    #first-name,#last-name {
        display: none;
    }
    #full-name{
        display: block;
        font-size: 23px;
    }
    #role{
        font-size: 14px;
    }
    #description{
        display: none;
    }
    #mobile-text{
        display: block;
        font-size: 13px;
        padding-left: 15px;
        padding-top: 10px;
    }
    #profile-pic-container{
        width: 300px;
        height: 300px;
    }
    #profile-pic-container img{
        width: 300px;
        height: 300px;
        border-radius: 100%;
    }
}

/*Second Page*/

#skill-container{
    position: relative;
    /*background-color: yellow;*/
    height: 100vh;
    width: 100vw;
}
#skill-container > div{
    width: 25%;
    height: 50%;
}
#skill-1, #skill-2, #skill-3, #skill-4{
    padding: 100px 65px 10px 65px;
}
#skill-5, #skill-6, #skill-7, #skill-8{
    padding: 10px 65px 100px 65px;
}
#skill-container > div > div{
    height: 100%;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.6);
    box-shadow: 3px 3px 6px black;
    border-radius: 15px;
    transition-property: transform;
    transition-duration: 500ms;
    padding: 5px;
}
#skill-container > div > div:hover{
    transform: scale(1.027);
}
#programming-languages > div:first-child, #front-end-tools > div:first-child, #back-end-tools > div:first-child, #database-management > div:first-child{
    height: 20%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
#programming-languages > div:last-child, #front-end-tools > div:last-child, #back-end-tools > div:last-child, #database-management > div:last-child{
    height: 80%;
    width: 100%;
}
#programming-languages > div:last-child > div{
    height: 25%;
    padding: 5px;
    font-size: 15px;
}
#front-end-tools > div:last-child > div{
    height: 16.67%;
    padding: 5px;
    font-size: 15px;
}
#back-end-tools > div:last-child > div{
    height: 25%;
    padding: 5px;
    font-size: 15px;
}
#database-management > div:last-child > div{
    height: 33.33%;
    padding: 5px;
    font-size: 15px;
}
#programming-languages > div:last-child > div > img{
    height: 100%;
    width: 22%;
    border-radius: 5px;
}
#front-end-tools > div:last-child > div > img{
    height: 100%;
    width: 20%;
    border-radius: 5px;
}
#back-end-tools > div:last-child > div > img{
    height: 100%;
    width: 22%;
    border-radius: 5px;
}
#database-management > div:last-child > div > img{
    height: 100%;
    width: 30%;
    border-radius: 5px;
}
@media all and (max-width: 2000px) {
    #programming-languages > div:first-child, #front-end-tools > div:first-child, #back-end-tools > div:first-child, #database-management > div:first-child{
        height: 20%;
        font-size: 24px;
        text-align: center;
    }
    #programming-languages > div:last-child > div, #front-end-tools > div:last-child > div, #back-end-tools > div:last-child > div, #database-management > div:last-child > div{
        font-size: 24px;
    }
    #programming-languages > div:last-child > div > img{
        width: 20%;
    }
    #front-end-tools > div:last-child > div > img{
        width: 14%;
    }
    #back-end-tools > div:last-child > div > img{
        width: 20%;
    }
    #database-management > div:last-child > div > img{
        width: 25%;
    }
}
@media all and (max-width: 1399px) {
    #programming-languages > div:first-child, #front-end-tools > div:first-child, #back-end-tools > div:first-child, #database-management > div:first-child{
        height: 20%;
        font-size: 20px;
        text-align: center;
    }
    #programming-languages > div:last-child > div, #front-end-tools > div:last-child > div, #back-end-tools > div:last-child > div, #database-management > div:last-child > div{
        font-size: 16px;
    }
    #programming-languages > div:last-child > div > img{
        width: 34%;
    }
    #front-end-tools > div:last-child > div > img{
        width: 20%;
    }
    #back-end-tools > div:last-child > div > img{
        width: 33%;
    }
    #database-management > div:last-child > div > img{
        width: 40%;
    }
}
@media all and (max-width: 1199px) {
    #skill-container div{
        width: 50%;
        height: 50%;
    }
    #page-2-alt-1{
        display: block;
    }
    #header-third-page{
        top: 303vh;
    }
    #skill-1, #skill-2, #skill-5, #skill-6{
        padding: 100px 65px 10px 65px;
    }
    #skill-3, #skill-4, #skill-7, #skill-8{
        padding: 10px 65px 100px 65px;
    }
    #programming-languages > div:first-child, #front-end-tools > div:first-child, #back-end-tools > div:first-child, #database-management > div:first-child{
        height: 20%;
        width: 100%;
        font-size: 25px;
        text-align: center;
    }
    #programming-languages > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 25px;
    }
    #front-end-tools > div:last-child > div{
        width: 100%;
        height: 16.67%;
        font-size: 25px;
    }
    #back-end-tools > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 25px;
    }
    #database-management > div:last-child > div{
        width: 100%;
        height: 33.33%;
        font-size: 25px;
    }
    #programming-languages > div:last-child > div > img{
        width: 15%;
    }
    #front-end-tools > div:last-child > div > img{
        width: 8%;
    }
    #back-end-tools > div:last-child > div > img{
        width: 15%;
    }
    #database-management > div:last-child > div > img{
        width: 20%;
    }
}
@media all and (max-width: 991px) {
    #skill-container div{
        width: 50%;
        height: 50%;
    }
    #page-2-alt-1{
        display: block;
    }
    #header-third-page{
        top: 303vh;
    }
    #skill-1, #skill-2, #skill-5, #skill-6{
        padding: 100px 65px 10px 65px;
    }
    #skill-3, #skill-4, #skill-7, #skill-8{
        padding: 10px 65px 100px 65px;
    }
    #programming-languages > div:first-child, #front-end-tools > div:first-child, #back-end-tools > div:first-child, #database-management > div:first-child{
        height: 20%;
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    #programming-languages > div:last-child, #front-end-tools > div:last-child, #back-end-tools > div:last-child, #database-management > div:last-child{
        height: 80%;
        width: 100%;
    }
    #programming-languages > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 18px;
    }
    #front-end-tools > div:last-child > div{
        width: 100%;
        height: 16.67%;
        font-size: 18px;
    }
    #back-end-tools > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 18px;
    }
    #database-management > div:last-child > div{
        width: 100%;
        height: 33.33%;
        font-size: 18px;
    }
    #programming-languages > div:last-child > div > img{
        width: 20%;
    }
    #front-end-tools > div:last-child > div > img{
        width: 12%;
    }
    #back-end-tools > div:last-child > div > img{
        width: 20%;
    }
    #database-management > div:last-child > div > img{
        width: 30%;
    }
}
@media all and (max-width: 767px) {
    #skill-container div{
        width: 50%;
        height: 50%;
    }
    #skill-1, #skill-2, #skill-5, #skill-6{
        padding: 100px 65px 10px 65px;
    }
    #skill-3, #skill-4, #skill-7, #skill-8{
        padding: 10px 65px 100px 65px;
    }
    #page-2-alt-1{
        display: block;
    }
    #header-third-page{
        top: 303vh;
    }
    #programming-languages > div:first-child, #front-end-tools > div:first-child, #back-end-tools > div:first-child, #database-management > div:first-child{
        height: 20%;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    #programming-languages > div:last-child, #front-end-tools > div:last-child, #back-end-tools > div:last-child, #database-management > div:last-child{
        height: 80%;
        width: 100%;
    }
    #programming-languages > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 15px;
    }
    #front-end-tools > div:last-child > div{
        width: 100%;
        height: 16.67%;
        font-size: 15px;
    }
    #back-end-tools > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 15px;
    }
    #database-management > div:last-child > div{
        width: 100%;
        height: 33.33%;
        font-size: 15px;
    }
    #programming-languages > div:last-child > div > img{
        width: 35%;
    }
    #front-end-tools > div:last-child > div > img{
        width: 28%;
    }
    #back-end-tools > div:last-child > div > img{
        width: 33%;
    }
    #database-management > div:last-child > div > img{
        width: 42%;
    }
}
@media all and (max-width: 575px) {
    #skill-container div{
        width: 100%;
        height: 50%;
    }
    #page-2-alt-1, #page-2-alt-2, #page-2-alt-3{
        display: block;
    }
    #header-third-page{
        top: 503vh;
    }
    #header-first-page, #header-second-page, #header-second-page-alt-1, #header-second-page-alt-2, #header-second-page-alt-3, #header-third-page,
    #header-third-page-alt-1, #header-third-page-alt-2, #header-third-page-alt-3, #header-third-page-alt-4, #header-third-page-alt-5, #header-fourth-page{
        font-size: 1.2rem;
    }
    #skill-1{
        padding-top: 60px;
    }
    #skill-1, #skill-3, #skill-5, #skill-7{
        padding: 100px 65px 10px 65px;
    }
    #skill-2, #skill-4, #skill-6, #skill-8{
        padding: 10px 65px 100px 65px;
    }
    #programming-languages > div:first-child, #front-end-tools > div:first-child, #back-end-tools > div:first-child, #database-management > div:first-child{
        height: 20%;
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    #programming-languages > div:last-child, #front-end-tools > div:last-child, #back-end-tools > div:last-child, #database-management > div:last-child{
        height: 80%;
        width: 100%;
    }
    #programming-languages > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 18px;
    }
    #front-end-tools > div:last-child > div{
        width: 100%;
        height: 16.67%;
        font-size: 18px;
    }
    #back-end-tools > div:last-child > div{
        width: 100%;
        height: 25%;
        font-size: 18px;
    }
    #database-management > div:last-child > div{
        width: 100%;
        height: 33.33%;
        font-size: 18px;
    }
    #programming-languages > div:last-child > div > img{
        width: 20%;
    }
    #front-end-tools > div:last-child > div > img{
        width: 14%;
    }
    #back-end-tools > div:last-child > div > img{
        width: 20%;
    }
    #database-management > div:last-child > div > img{
        width: 32%;
    }
}

/*Third Page*/

#page-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 80px 10px 80px;
}
#first-project, #second-project, #third-project, #fourth-project, #fifth-project, #sixth-project{
    /*background-color: lightpink;*/
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 100%;
    box-shadow: 3px 3px 6px black;
    transition-property: transform;
    transition-duration: 500ms;
}
.card:hover{
    transform: scale(1.025);
}
@media all and (max-width: 1399px) {

}
@media all and (max-width: 1199px) {
    #first-project, #second-project, #third-project, #fourth-project, #fifth-project, #sixth-project{
        height: 45%;
    }
}
@media all and (max-width: 991px) {
    #project-container{
        padding-top: 0;
    }
    #first-project, #second-project, #third-project, #fourth-project, #fifth-project, #sixth-project{
        height: 100vh;
        padding-top: 40px;
    }
    .card{
        height: 80%;
        width: 70%;
    }
    #page-4, #page-5, #page-6, #page-7, #page-8{
        display: block;
    }
}
@media all and (max-width: 767px) {
    #project-container{
        padding-top: 0;
    }
    #first-project, #second-project, #third-project, #fourth-project, #fifth-project, #sixth-project{
        height: 100vh;
        padding-top: 20px;
    }
    .card{
        height: 70%;
        width: 70%;
    }
    #page-4, #page-5, #page-6, #page-7, #page-8{
        display: block;
    }
}
@media all and (max-width: 575px) {
    #project-container{
        padding-top: 0;
    }
    #first-project, #second-project, #third-project, #fourth-project, #fifth-project, #sixth-project{
        height: 100vh;
    }
    .card{
        height: 50%;
        width: 100%;
    }
    #page-4, #page-5, #page-6, #page-7, #page-8{
        display: block;
    }
}

/*Page 9*/

#submit-form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 60px 100px;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
}
#name, #mail, #contact, #message-header, #message{
    font-size: 20px;
    color: black;
}
#button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
#button-container-left, #button-container-right{
    display: flex;
    gap: 15px;
}
@media all and (max-width: 575px) {
    #submit-form{
        padding: 40px 60px;
    }
}
#copyright{
    position: relative;
    height: 40px;
    left: 0;
    bottom: 40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
}
